In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("sub-division_population_of_pakistan.csv")
data

,PROVINCE,DIVISION,DISTRICT,SUB DIVISION,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),...,POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
0,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,BAHAWALNAGAR TEHSIL,1729.0,619550,316864,302644,42,104.70,...,407768,2.22,193840,98391,95402,47,103.13,6.02,133785,1.97
1,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,CHISHTIAN TEHSIL,1500.0,540342,273788,266500,54,102.73,...,395983,1.65,149424,75546,73851,27,102.30,6.01,102287,2.01
2,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,FORT ABBAS TEHSIL,2536.0,361240,182655,178541,44,102.30,...,250959,1.93,61528,31360,30150,18,104.01,6.00,34637,3.06
3,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,HAROONABAD TEHSIL,1295.0,382115,192278,189808,29,101.30,...,297343,1.33,142600,71345,71236,19,100.15,6.02,84424,2.79
4,PUNJAB,BAHAWALPUR DIVISION,BAHAWALNAGAR DISTRICT,MINCHINABAD TEHSIL,1818.0,452723,231506,221178,39,104.67,...,316593,1.90,72294,36694,35590,10,103.10,6.34,37668,3.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,SARAROGHA TEHSIL,813.0,98180,51479,46694,7,110.25,...,72063,1.64,0,0,0,0,0.00,0.00,0,0.00
524,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,SERWEKAI TEHSIL,398.0,54540,28695,25844,1,111.03,...,31472,2.93,0,0,0,0,0.00,0.00,0,0.00
525,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,TIARZA TEHSIL,734.0,45156,23649,21507,0,109.96,...,37708,0.95,0,0,0,0,0.00,0.00,0,0.00
526,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,TOI KHULLA TEHSIL,567.0,50413,27462,22947,4,119.68,...,36508,1.71,0,0,0,0,0.00,0.00,0,0.00
527,KPK/FATA,DERA ISMAIL KHAN DIVISION,SOUTH WAZIRISTAN DISTRICT,WANA TEHSIL,2315.0,153156,81342,71796,18,113.30,...,90772,2.79,0,0,0,0,0.00,0.00,0,0.00

In [20]:
# show 390th line through code

data.loc[390]

PROVINCE                             BALOCHISTAN
DIVISION                         Quetta Division
DISTRICT                         ZIARAT DISTRICT
SUB DIVISION                  SINJAWI SUB-TEHSIL
AREA (sq.km)                              1812.0
ALL SEXES (RURAL)                          92497
MALE (RURAL)                               48070
FEMALE (RURAL)                             44413
TRANSGENDER (RURAL)                           14
SEX RATIO (RURAL)                         108.23
AVG HOUSEHOLD SIZE (RURAL)                  5.88
POPULATION 1998 (RURAL)                    47408
ANNUAL GROWTH RATE (RURAL)                  3.57
ALL SEXES (URBAN)                              0
MALE (URBAN)                                   0
FEMALE (URBAN)                                 0
TRANSGENDER (URBAN)                            0
SEX RATIO (URBAN)                            0.0
AVG HOUSEHOLD SIZE (URBAN)                   0.0
POPULATION 1998 (URBAN)                        0
ANNUAL GROWTH RATE (URBAN)                   0.0
Name: 390, dtype: object

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 528 entries, 0 to 527
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PROVINCE                    528 non-null    object
 1   DIVISION                    528 non-null    object
 2   DISTRICT                    528 non-null    object
 3   SUB DIVISION                528 non-null    object
 4   AREA (sq.km)                528 non-null    float64
 5   ALL SEXES (RURAL)           528 non-null    int64
 6   MALE (RURAL)                528 non-null    int64
 7   FEMALE (RURAL)              528 non-null    int64
 8   TRANSGENDER (RURAL)         528 non-null    int64
 9   SEX RATIO (RURAL)           528 non-null    float64
 10  AVG HOUSEHOLD SIZE (RURAL)  528 non-null    float64
 11  POPULATION 1998 (RURAL)     528 non-null    int64
 12  ANNUAL GROWTH RATE (RURAL)  528 non-null    float64
 13  ALL SEXES (URBAN)           528 non-null    int64
 14  MALE (URBAN)                528 non-null    int64
 15  FEMALE (URBAN)              528 non-null    int64
 16  TRANSGENDER (URBAN)         528 non-null    int64
 17  SEX RATIO (URBAN)           528 non-null    float64
 18  AVG HOUSEHOLD SIZE (URBAN)  528 non-null    float64
 19  POPULATION 1998 (URBAN)     528 non-null    int64
 20  ANNUAL GROWTH RATE (URBAN)  528 non-null    float64
dtypes: float64(7), int64(10), object(4)
memory usage: 86.8+ KB

In [5]:
data.shape

(528, 21)

In [6]:
# Finding missing values in each and every column:

data.isnull().sum()

PROVINCE                      0
DIVISION                      0
DISTRICT                      0
SUB DIVISION                  0
AREA (sq.km)                  0
ALL SEXES (RURAL)             0
MALE (RURAL)                  0
FEMALE (RURAL)                0
TRANSGENDER (RURAL)           0
SEX RATIO (RURAL)             0
AVG HOUSEHOLD SIZE (RURAL)    0
POPULATION 1998 (RURAL)       0
ANNUAL GROWTH RATE (RURAL)    0
ALL SEXES (URBAN)             0
MALE (URBAN)                  0
FEMALE (URBAN)                0
TRANSGENDER (URBAN)           0
SEX RATIO (URBAN)             0
AVG HOUSEHOLD SIZE (URBAN)    0
POPULATION 1998 (URBAN)       0
ANNUAL GROWTH RATE (URBAN)    0
dtype: int64

In [8]:
data.describe()

,AREA (sq.km),ALL SEXES (RURAL),MALE (RURAL),FEMALE (RURAL),TRANSGENDER (RURAL),SEX RATIO (RURAL),AVG HOUSEHOLD SIZE (RURAL),POPULATION 1998 (RURAL),ANNUAL GROWTH RATE (RURAL),ALL SEXES (URBAN),MALE (URBAN),FEMALE (URBAN),TRANSGENDER (URBAN),SEX RATIO (URBAN),AVG HOUSEHOLD SIZE (URBAN),POPULATION 1998 (URBAN),ANNUAL GROWTH RATE (URBAN)
count,528.000000,5.280000e+02,5.280000e+02,5.280000e+02,528.000000,528.000000,528.000000,5.280000e+02,528.000000,5.280000e+02,5.280000e+02,5.280000e+02,528.000000,528.000000,528.000000,5.280000e+02,528.000000
mean,1492.005871,2.462780e+05,1.252757e+05,1.209841e+05,18.174242,98.982614,6.277064,1.674280e+05,3.124792,1.408635e+05,7.284339e+04,6.799787e+04,22.276515,75.411269,4.406402,8.014457e+04,1.920814
std,2039.453778,2.711898e+05,1.375630e+05,1.337169e+05,25.522248,26.812660,2.074947,1.783890e+05,9.577872,3.512463e+05,1.823492e+05,1.688725e+05,66.068127,49.687341,2.948336,2.023120e+05,2.098908
min,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,425.000000,5.093450e+04,2.712725e+04,2.397900e+04,1.000000,101.105000,5.700000,3.527350e+04,1.440000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000
50%,882.000000,1.652410e+05,8.413450e+04,8.204400e+04,10.000000,105.285000,6.310000,1.172065e+05,2.030000,4.325450e+04,2.198000e+04,2.099900e+04,3.000000,103.195000,5.755000,2.129800e+04,1.855000
75%,1734.250000,3.129112e+05,1.605022e+05,1.522190e+05,25.000000,108.347500,7.200000,2.130542e+05,2.812500,1.178148e+05,6.030175e+04,5.746525e+04,19.000000,107.040000,6.340000,6.542225e+04,2.985000
max,18374.000000,2.297375e+06,1.172995e+06,1.124167e+06,213.000000,139.380000,12.430000,1.044035e+06,100.000000,3.653616e+06,1.905921e+06,1.746900e+06,795.000000,297.810000,10.060000,2.075867e+06,19.780000

# Assignment: Find the Maximum Value of each and every column in our data set . Also mention the index number on which that specific data set lies:

In [15]:
# code: (Solution of Assignment)

maximum_value_of_every_column = data.describe().loc["max"]
indx_of_maximum_value = data.idxmax()

result = pd.DataFrame({
    "Maximum Value": maximum_value_of_every_column ,
    '''Index No.''': indx_of_maximum_value
})

result

                            Maximum Value  Index No.
ALL SEXES (RURAL)              2297375.00        455
ALL SEXES (URBAN)              3653616.00         71
ANNUAL GROWTH RATE (RURAL)         100.00         70
ANNUAL GROWTH RATE (URBAN)          19.78         73
AREA (sq.km)                     18374.00         10
AVG HOUSEHOLD SIZE (RURAL)          12.43        515
AVG HOUSEHOLD SIZE (URBAN)          10.06        437
DISTRICT                              NaN        390
DIVISION                              NaN        392
FEMALE (RURAL)                 1124167.00        455
FEMALE (URBAN)                 1746900.00         71
MALE (RURAL)                   1172995.00        455
MALE (URBAN)                   1905921.00         71
POPULATION 1998 (RURAL)        1044035.00        455
POPULATION 1998 (URBAN)        2075867.00         71
PROVINCE                              NaN        143
SEX RATIO (RURAL)                  139.38        357
SEX RATIO (URBAN)                  297.81        512
SUB DIVISION                          NaN        391
TRANSGENDER (RURAL)                213.00        455
TRANSGENDER (URBAN)                795.00         71

In [27]:
data.idxmax()
data.describe().loc["max"]

AREA (sq.km)                    18374.00
ALL SEXES (RURAL)             2297375.00
MALE (RURAL)                  1172995.00
FEMALE (RURAL)                1124167.00
TRANSGENDER (RURAL)               213.00
SEX RATIO (RURAL)                 139.38
AVG HOUSEHOLD SIZE (RURAL)         12.43
POPULATION 1998 (RURAL)       1044035.00
ANNUAL GROWTH RATE (RURAL)        100.00
ALL SEXES (URBAN)             3653616.00
MALE (URBAN)                  1905921.00
FEMALE (URBAN)                1746900.00
TRANSGENDER (URBAN)               795.00
SEX RATIO (URBAN)                 297.81
AVG HOUSEHOLD SIZE (URBAN)         10.06
POPULATION 1998 (URBAN)       2075867.00
ANNUAL GROWTH RATE (URBAN)         19.78
Name: max, dtype: float64